:root[data-theme='dark'] {
  --background-col: #131314;
  --side-box-col: #1E1F20;
  --active-box-col: #2B2171;
  --hover-box-col: #333333;
  --box-col: #1E1F20;
  --main-txt-col: #ffffff;
  --sub-txt-col: #9B9B9B;
  --point-txt-col: rgb(245 245 244);
}

:root[data-theme='light'] {
  /* --background-col: rgb(255 237 213);
  --card-col: #fff;
  --text-col: rgb(68 64 60); */
  --background-col: #ffffff;
  --side-box-col: #ececec;
  --active-box-col: #2B2171;
  --hover-box-col: #333333;
  --box-col: #1E1F20;
  --main-txt-col: #333333;
  --sub-txt-col: #9B9B9B;
  --point-txt-col: rgb(245 245 244);
}

body {margin: 0; padding: 0; background-color: var(--background-col);}

button.theme {
  position: absolute;
  top: 1rem;
  right: 1rem;
  border: none;
  padding: 0.5rem 1rem;
  border-radius: 1rem;
  color: #fff;
  cursor: pointer;
  background-color: rgb(245 158 11);
}
h2, p {
  color: var(--text-col);
  transition: 0.2s;
}



svg {fill: var(--main-txt-col);}

/* 박스 높이 */
.bt_box_36, .bt_box_48 {display: flex; justify-content: flex-start; align-items: center; background-color: rgba(0, 0, 0, 0.5); transition: 0.3s;}
.bt_box_36 p, .bt_box_48 p {display: none;}
.bt_box_36 {width: 100%; height: 36px; border-radius: 18px; padding-left: 4px;}
.bt_box_48 {width: 100%; height: 48px; border-radius: 24px; padding-left: 12px;}

/* 아이콘 */
.icon_box_48, .icon_box_36, .icon_box_34, .icon_box_28, .icon_box_24, .icon_box_20 {flex-shrink: 0; border-radius: 50%; display: flex; justify-content: center; align-items: center; transition: 0.3s;}
.icon_box_48.hover:hover, .icon_box_36, .icon_box_34, .icon_box_28, .icon_box_24, .icon_box_20 {background-color: #c2c2c2;  }

.icon_box_48 {width: 48px; height: 48px; }
.icon_box_48 svg {width: 24px; height: auto; }

.icon_box_36 {width: 36px; height: 36px; }

.icon_box_34 {width: 34px; height: 34px; }

.icon_box_28 {width: 28px; height: 28px; }
.icon_box_28 svg {width: 20px; height: auto; }

.icon_box_24 {width: 24px; height: 24px; }

.icon_box_20 {width: 20px; height: 20px; }


main {display: flex; }

/* 1. 메뉴버튼 */
main .side_nav_menu_bt {position: fixed; width:auto; top: 10px; left: 10px; z-index: 100;}

/* 2. 사이드메뉴 */
main .side_L_container {flex-shrink:0; width: 280px; /*width: 68px;*/ height: 100vh; background-color: var(--side-box-col);}
main .side_L_container .side_menu_area {padding: 70px 0px 28px 0px; height: 100%; display: flex; gap: 8px; flex-direction: column; justify-content: space-between; align-items: flex-start;}

/* 2-1. 사이드메뉴_채팅그룹 */
main .side_L_container .side_menu_area .chat_bt_box {flex-grow:1; display: flex; flex-direction: column; gap: 8px; overflow: hidden; background-color: rgba(0, 0, 0, 0.1); }

/* 2-1-1. 사이드메뉴_채팅그룹_새채팅 */
main .side_L_container .side_menu_area .chat_bt_box .add_newchat_bt_box {padding: 0px 10px;}
main .side_L_container .side_menu_area .chat_bt_box .add_newchat_bt_box .bt_box_48 {width: 48px;}

/* 2-1-2. 사이드메뉴_채팅그룹_채팅리스트 */
main .side_L_container .side_menu_area .chat_bt_box .chat_list_bt_box {overflow-y: auto;}
main .side_L_container .side_menu_area .chat_bt_box .chat_list_bt_box .bt_box_36 {width:36px;}
main .side_L_container .side_menu_area .chat_bt_box .chat_list_bt_box ul {padding: 0 0 0 16px; display: flex; flex-direction: column; gap: 8px; background-color: rgba(0, 0, 0, 0.1);}


/* 2-2. 사이드메뉴_설정 */
main .side_L_container .setting_list_bt_box .bt_box_48 {width: 48px;}
main .side_L_container .setting_list_bt_box {}
main .side_L_container .setting_list_bt_box ul {padding: 0px 10px; display: flex; flex-direction: column; gap: 8px;}


/* 3. 우측_콘텐츠 */
main .side_R_container {background-color: #2B2171; width: 100%; height: 100vh; }

/* 3-1. 우측_상단바 */
main .side_R_container .top_bar {width: 100%; height: 70px; background-color: rgba(0, 0, 0, 0.2); }


/* 3-2. 우측_콘텐츠 */
main .side_R_container .main_cont_container .main_cont_layout { width: 830px; margin: 0 auto; height: calc(100vh - 70px); overflow: hidden; background-color: rgba(0, 0, 0, 0.2); }
main .side_R_container .main_cont_container .main_cont_layout .search_a_area {  }
main .side_R_container .main_cont_container .main_cont_layout .search_q_area {  }

